<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
	<div class="col l6">
		<%= image_tag @content.cover.url, class: "responsive-img mostra_img" %>
	</div>
	<div class="col l6">
		<p>
		  <h1 class="mostra_titolo"><%= @content.titolo %></h1>
		</p>
		<h4>
		  <strong>
		  <%= number_to_currency(@content.price) %>
		  </strong>
		</h4>
		<p>
			<strong>Utente:</strong>
			<%= @content.user.name %>
		<p>
		  <strong>Descrizione:</strong>
		  <%= @content.descrizione %>
		</p>


	</div>
</div>


<%= link_to 'Torna', contents_path%>

<% if @content.user == current_user %>
	<%= link_to 'Modifica', edit_content_path(@content) %> |
<% end %>
</div>
